@model UserModel
<tr>
    <th>@Model.Id</th>
    <td>
        <a asp-action="Detail" asp-controller="User" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
            <i class="fa fa-eye"></i>
        </a>
    </td>
    <td>@Model.DisplayName</td>
    <td>@Model.Email</td>
    <td>
        @if (Model.BirthDate.HasValue)
        {
            @Model.BirthDate.Value.ToDateHourMinusFormat()
        }
    </td>
    <td>@Model.CountryName</td>
    <td>
        @Model.GenderLabel
    </td>
    <td>
        <partial name="Partial/_StatusBadge" />
    </td>
    <td>
        @if (!Model.IsEmailConfirmed)
        {
            <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#confirmEmailModal"
                    title="Confirm this user"
                    class="btn btn-sm btn-outline-success mb-2 common-tooltip">
                <i class="fas fa-check"></i>
            </button>
        }

        @if (Model.StatusId == UserStatuses.Pending)
        {
            <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#activateModal"
                    title="Activate this user"
                    class="btn btn-sm btn-outline-success mb-2 common-tooltip">
                <i class="fa fa-unlock"></i>
            </button>
        }

        @if (Model.StatusId != UserStatuses.Inactived && Model.StatusId != UserStatuses.Deleted)
        {
            <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#deactivateModal"
                    class="btn btn-sm btn-outline-dark mb-2 common-tooltip" title="Block this user">
                <i class="fa fa-lock"></i>
            </button>
        }
        else if (Model.StatusId == UserStatuses.Inactived)
        {
            <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#activateModal"
                    class="btn btn-sm btn-outline-success mb-2 common-tooltip" title="Re-activate this user">
                <i class="fa fa-unlock"></i>
            </button>
        }

        @if (Model.StatusId == UserStatuses.Deleted)
        {
            <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#restoreModal"
                    class="btn btn-sm btn-outline-info mb-2 common-tooltip" title="Restore this user">
                <i class="fa fa-redo"></i>
            </button>
        }
        else
        {
            <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#temporaryDeleteModal"
                    class="btn btn-sm btn-outline-danger mb-2 common-tooltip" title="Move this user to trash">
                <i class="fa fa-trash-alt"></i>
            </button>
        }
    </td>
</tr>