@model ArticleModel
@{
    ViewData["Title"] = "Article " + @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header bg-dark text-light">
    <div class="row">
        <div class="col-auto mr-auto">
            <a asp-action="Index" asp-controller="Article" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-arrow-left"></i>
            </a>
            @ViewData["Title"]
        </div>
        <div class="col-auto">
            @if (Model.CanUpdate)
            {
                <a asp-action="Update" asp-controller="Article" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-edit"></i>
                </a>
            }
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                @if (Model.PictureId > 0)
                {
                    <img src="@Url.Action("Get", "Picture", new { id = Model.PictureId })" alt="..." class="img-thumbnail">
                }
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-7">
            <div class="form-group">
                <h2>@Model.Name</h2>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-7">
            <div class="form-group">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-7">
            <div class="form-group">
                <p>@Html.Raw(Model.Content)</p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <div class="form-group">
                <label>Created by</label>
                <span class="form-control" readonly>@Model.CreatedBy</span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <div class="form-group">
                <label>Created date</label>
                <span class="form-control" readonly>@Model.CreatedDate.ToDateHourMinusFormat()</span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <div class="form-group">
                <label>Updated by</label>
                <span class="form-control" readonly>@Model.UpdatedBy</span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <div class="form-group">
                <label>Updated date</label>
                <span class="form-control" readonly>@Model.UpdatedDate.ToDateHourMinusFormat()</span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <div class="form-group">
                <label>Category</label>
                <span class="form-control" readonly>@Model.ArticleCategoryName</span>
            </div>
        </div>
    </div>
</div>
