@using Camino.Infrastructure.Enums
@model ShortcutModel

<tr>
    <th>@Model.Id</th>
    <td>
        <a asp-action="Detail" asp-controller="Shortcut" asp-route-id="@Model.Id" class="common-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.Description">
            @Model.Name
        </a>
    </td>
    <td>
        <div>@Model.Description</div>
    </td>
    <td>
        <div>@Model.Url</div>
    </td>
    <td>
        <div>@Model.Icon</div>
    </td>
    <td>
        <div>@(EnumUtil.GetDescription(Model.TypeId))</div>
    </td>
    <td>
        <div>@Model.Order</div>
    </td>
    <td>
        @if (Model.CanUpdate)
        {
            <a asp-action="Update" asp-controller="Shortcut" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
                <i class="fa fa-edit"></i>
            </a>
        }
        <a asp-action="Detail" asp-controller="Shortcut" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
            <i class="fa fa-eye"></i>
        </a>
    </td>
</tr>