@model FarmModel

<input asp-for="Id" type="hidden" />
<div class="form-row">
    <div class="col-12 col-sm-9 col-md-8 col-lg-6">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" asp-for="Name">
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12 col-sm-9 col-md-8 col-lg-6">
        <div class="form-group">
            <label>Farm Type</label>
            <select class="form-control select2-remote-ajax" data-url="@Url.Action("Search", "FarmType")" asp-for="FarmTypeId">
                <option value="@Model.FarmTypeId" selected="selected">@Model.FarmTypeName</option>
            </select>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12 col-sm-9 col-md-8 col-lg-6">
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" asp-for="Description" rows="3"></textarea>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12 col-sm-9 col-md-8 col-lg-6">
        <div class="form-group">
            <label>Thumbnails</label>
            <input class="form-control-file" data-url="@Url.Action("ConverToBase64", "Picture")"
                   type="file" asp-for="File" id="thumbnailUpload" />
        </div>
        <div class="progress d-none" id="uploadProgress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
</div>

<div class="form-row mb-3" id="farmThumbnails">
    @{
        int index = 0;
        foreach (var item in Model.Thumbnails)
        {
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 thumbnail-item">
                <div class="form-group mb-3">
                    <img src="@Url.Action("Get", "Picture", new { id = item.PictureId })" alt="..." class="img-thumbnail">
                </div>
                <input type="hidden" name="Thumbnails[@index].PictureId" value="@item.PictureId" />
                <span class="remove-thumbnail">X</span>
            </div>
            index++;
        }
    }
</div>

@if (Model.Id <= 0)
{
    <button type="submit" class="btn btn-primary">Create</button>
}
else
{
    <button type="submit" class="btn btn-primary">Update</button>
}
