@model FarmModel
@{
    ViewData["Title"] = "Farm " + @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header bg-dark text-light">
    <div class="row">
        <div class="col-auto me-auto">
            <a asp-action="Index" asp-controller="Farm" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-arrow-left"></i>
            </a>
            @ViewData["Title"]
        </div>
        <div class="col-auto">
            @if (Model.CanUpdate)
            {
                <a asp-action="Update" asp-controller="Farm" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-edit"></i>
                </a>
            }
        </div>
    </div>
</div>
<div class="card-body">
    <div class="rowmb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-7">
            <h2>@Model.Name</h2>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Pictures)
        {
            <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                <div class="mb-3 mb-3">
                    <img src="@Url.Action("Get", "Picture", new { id = item.PictureId })" alt="..." class="img-thumbnail">
                </div>
            </div>
        }
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-7">
            <div class="card">
                <div class="card-body">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <label class="form-label">Created by:</label>
            <div>
                <strong>@Model.CreatedBy</strong>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <label class="form-label">Created date:</label>
            <div>
                <strong>@Model.CreatedDate.ToDateHourMinusFormat()</strong>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <label class="form-label">Updated by:</label>
            <div>
                <strong>@Model.UpdatedBy</strong>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <label class="form-label">Updated date:</label>
            <div>
                <strong>@Model.UpdatedDate.ToDateHourMinusFormat()</strong>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <label class="form-label">Farm Type:</label>
            <div>
                <span class="badge bg-info">@Model.FarmTypeName</span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <label class="form-label">Status:</label>
            <div>
                <partial name="Partial/_StatusBadge" />
            </div>
        </div>
    </div>
</div>
