@model ProductModel
<tr>
    <th>@Model.Id</th>
    <td>
        @if (Model.PictureId > 0)
        {
            <img width="100" src="@Url.Action("Get", "Picture", new { id = Model.PictureId })" alt="..." class="img-thumbnail">
        }
    </td>
    <td>
        <a asp-action="Detail" asp-controller="Product" asp-route-id="@Model.Id">
            @Model.Name
        </a>
    </td>
    <td>
        <div>@Model.CreatedDate.ToDateHourMinusFormat()</div>
        <p class="text-muted">by: @Model.CreatedBy</p>
    </td>
    <td>
        <div>@Model.UpdatedDate.ToDateHourMinusFormat()</div>
        <p class="text-muted">by: @Model.UpdatedBy</p>
    </td>
    <td>
        @if (Model.CanUpdate)
        {
            <a asp-action="Update" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
                <i class="fa fa-edit"></i>
            </a>
        }
        <a asp-action="Detail" asp-controller="Product" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
            <i class="fa fa-eye"></i>
        </a>
    </td>
</tr>