@model PagerViewModel<RoleViewModel>
@{
    ViewData["Title"] = "Roles management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header bg-secondary text-light">
    <a asp-action="Create" asp-controller="Role" class="btn btn-sm btn-primary">
        <i class="fa fa-plus"></i>
    </a>
    @ViewData["Title"]
</div>
<div class="card-body">
    <table class="table table-bordered">
        <thead>
            <tr class="bg-light">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Collections.Any())
            {
                foreach (var role in Model.Collections)
                {
                    <tr>
                        <th>@role.Id</th>
                        <td>
                            <a asp-action="Detail" asp-controller="Role" asp-route-id="@role.Id" class="common-tooltip" data-toggle="tooltip" data-placement="top" title="@role.Description">
                                @role.Name
                            </a>
                        </td>
                        <td>
                            <div>@role.CreatedDate.ToLongDateString()</div>
                            <p class="text-muted">by: @role.CreatedByName</p>
                        </td>
                        <td>
                            <div>@role.UpdatedDate.ToLongDateString()</div>
                            <p class="text-muted">by: @role.UpdatedByName</p>
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Role" asp-route-id="@role.Id" class="btn btn-sm btn-outline-dark">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No data</td>
                </tr>
            }
        </tbody>
    </table>
</div>