@model ArticleModel
@{
    ViewData["Title"] = "Article Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header bg-dark text-light">
    <div class="row">
        <div class="col-auto mr-auto">
            <a asp-action="Index" asp-controller="Article" class="btn btn-sm btn-secondary">
                <i class="fa fa-arrow-left"></i>
            </a>
            @ViewData["Title"]
        </div>
        <div class="col-auto">
            @if (Model.CanUpdate)
            {
                <a asp-action="Update" asp-controller="Article" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-edit"></i>
                </a>
            }
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <label>Name</label>
        <span class="form-control" readonly>@Model.Name</span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <span class="form-control" readonly>@Model.Description</span>
    </div>
    <div class="form-group">
        <label>Content</label>
        <div readonly>@Html.Raw(Model.Content)</div>
    </div>
    <div class="form-group">
        <label>Created by</label>
        <span class="form-control" readonly>@Model.CreatedBy</span>
    </div>
    <div class="form-group">
        <label>Created date</label>
        <span class="form-control" readonly>@Model.CreatedDate.ToShortDateString()</span>
    </div>
    <div class="form-group">
        <label>Updated by</label>
        <span class="form-control" readonly>@Model.UpdatedBy</span>
    </div>
    <div class="form-group">
        <label>Updated date</label>
        <span class="form-control" readonly>@Model.UpdatedDate.ToShortDateString()</span>
    </div>
    <div class="form-group">
        <label>Category</label>
        <span class="form-control" readonly>@Model.ArticleCategoryName</span>
    </div>
</div>