@model UserModel
<tr>
    <th>@Model.Id</th>
    <td>@Model.Lastname @Model.Firstname</td>
    <td>@Model.DisplayName</td>
    <td>@Model.Email</td>
    <td>
        @if (Model.BirthDate.HasValue)
        {
            @Model.BirthDate.Value.ToShortDateString()
        }
    </td>
    <td>@Model.CountryName</td>
    <td>
        @Model.GenderLabel
    </td>
    <td>
        <span class="badge badge-info">@Model.StatusLabel</span>
    </td>
    <td>
        <a asp-action="Detail" asp-controller="User" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
            <i class="fa fa-eye"></i>
        </a>
    </td>
</tr>