@model UserModel
@{
    ViewData["Title"] = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header bg-dark text-light">
    <div class="row">
        <div class="col-auto me-auto">
            <a asp-action="Index" asp-controller="User" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-arrow-left"></i>
            </a>
            @ViewData["Title"]
        </div>
        <div class="col-auto">
            @if (Model.CanUpdate)
            {
                <a asp-action="Update" asp-controller="User" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-edit"></i>
                </a>
            }
        </div>
    </div>
</div>
<div class="card-body">
    <div class="mb-3">
        <label>Name</label>
        <span class="form-control" readonly>@Model.Lastname @Model.Firstname</span>
    </div>
    <div class="mb-3">
        <label>Display Name</label>
        <span class="form-control" readonly>@Model.DisplayName</span>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <span class="form-control" readonly>@Model.Email</span>
    </div>
    <div class="mb-3">
        <label>Phone</label>
        <span class="form-control" readonly>@Model.Address</span>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <span class="form-control" readonly>@Model.Email</span>
    </div>
    <div class="mb-3">
        <label>Description</label>
        <span class="form-control" readonly>@Model.Description</span>
    </div>
    <div class="mb-3">
        <label>Birthdate</label>
        <span class="form-control" readonly>
            @if (Model.BirthDate.HasValue)
            {
                Model.BirthDate.Value.ToString(DateTimeFormatConst.DateFormat);
            }
        </span>
    </div>
    <div class="mb-3">
        <label>Joined date</label>
        <span class="form-control" readonly>
            @Model.CreatedDate.ToString(DateTimeFormatConst.DateFormat)
        </span>
    </div>
    <div class="mb-3">
        <label>Updated date</label>
        <span class="form-control" readonly>
            @Model.UpdatedDate.ToString(DateTimeFormatConst.DateFormat)
        </span>
    </div>
    <div class="mb-3">
        <label>Gender</label>
        <span class="form-control" readonly>@Model.GenderLabel</span>
    </div>
    <div class="mb-3">
        <label>Country</label>
        <span class="form-control" readonly>
            @if (Model.CountryCode != null)
            {
                @($"[{Model.CountryCode}] - {Model.CountryName}")
            }
        </span>
    </div>
    <div class="mb-3">
        <label>Status</label>
        <partial name="Partial/_StatusBadge" />
    </div>
    <div class="mb-3">
        <label>Email Confirmed</label>
        @if (Model.IsEmailConfirmed)
        {
            <span class="badge rounded-pill bg-success">Confirmed</span>
        }
        else
        {
            <span class="badge rounded-pill bg-secondary">Unconfirmed</span>
        }
    </div>

    <div class="row mb-3">
        <div class="col-auto">
            @if (Model.Id > 0)
            {
                @if (!Model.IsEmailConfirmed)
                {
                    <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#confirmEmailModal"
                            title="Confirm this user"
                            class="btn btn-sm btn-outline-success mb-2 common-tooltip">
                        <i class="fas fa-check"></i>
                    </button>
                }

                @if (Model.StatusId == UserStatus.Pending)
                {
                    <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#activateModal"
                            title="Activate this user"
                            class="btn btn-sm btn-outline-success mb-2 common-tooltip">
                        <i class="fa fa-unlock"></i>
                        <span class="ms-1">Activate</span>
                    </button>
                }

                @if (Model.StatusId != UserStatus.Inactived && Model.StatusId != UserStatus.Deleted)
                {
                    <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#deactivateModal"
                            class="btn btn-sm btn-outline-dark mb-2 common-tooltip" title="Block this user">
                        <i class="fa fa-lock"></i>
                        <span class="ms-1">Block</span>
                    </button>
                }
                else if (Model.StatusId == UserStatus.Inactived)
                {
                    <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#activateModal"
                            class="btn btn-sm btn-outline-success mb-2 common-tooltip" title="Re-activate this user">
                        <i class="fa fa-unlock"></i>
                        <span class="ms-1">Re-activate</span>
                    </button>
                }

                @if (Model.StatusId == UserStatus.Deleted)
                {
                    <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#restoreModal"
                            class="btn btn-sm btn-outline-info mb-2 common-tooltip" title="Restore this user">
                        <i class="fa fa-redo"></i>
                        <span class="ms-1">Restore</span>
                    </button>
                }
                else
                {
                    <button type="button" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#temporaryDeleteModal"
                            class="btn btn-sm btn-outline-danger mb-2 common-tooltip" title="Move this user to trash">
                        <i class="fa fa-trash-alt"></i>
                        <span class="ms-1">Move To Trash</span>
                    </button>
                }
            }
        </div>
    </div>
</div>

@{
    var userIdModel = new UserIdRequestModel { Id = Model.Id, ShouldKeepDetailPage = true };
}
<partial name="Partial/_ActivateModal" model="userIdModel" />
<partial name="Partial/_DeactivateModal" model="userIdModel" />
<partial name="Partial/_RestoreModal" model="userIdModel" />
<partial name="Partial/_ConfirmEmailModal" model="userIdModel" />
<partial name="Partial/_TemporaryDeleteModal" model="userIdModel" />