@model ProductModel
@if (Model.StatusId == ProductStatuses.Pending)
{
    <span class="badge rounded-pill bg-info">@Model.StatusId</span>
}
else if (Model.StatusId == ProductStatuses.Actived)
{
    <span class="badge rounded-pill bg-success">@Model.StatusId</span>
}
else if (Model.StatusId == ProductStatuses.Inactived)
{
    <span class="badge rounded-pill bg-secondary">@Model.StatusId</span>
}
else if (Model.StatusId == ProductStatuses.Reported)
{
    <span class="badge rounded-pill bg-warning">@Model.StatusId</span>
}
else if (Model.StatusId == ProductStatuses.Deleted)
{
    <span class="badge rounded-pill bg-danger">@Model.StatusId</span>
}