@model ArticleCategoryModel
@{
    ViewData["Title"] = "Article Category Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header bg-dark text-light">
    <div class="row">
        <div class="col-auto mr-auto">
            <a asp-action="Index" asp-controller="ArticleCategory" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-arrow-left"></i>
            </a>
            @ViewData["Title"]
        </div>
        <div class="col-auto">
            @if (Model.CanUpdate)
            {
                <a asp-action="Update" asp-controller="ArticleCategory" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary">
                    <i class="fa fa-edit"></i>
                </a>
            }
        </div>
    </div>
</div>
<div class="card-body">
    <div class="form-group">
        <label>Name</label>
        <span class="form-control" readonly>@Model.Name</span>
    </div>
    <div class="form-group">
        <label>Description</label>
        <span class="form-control" readonly>@Model.Description</span>
    </div>
    <div class="form-group">
        <label>Created by</label>
        <span class="form-control" readonly>@Model.CreatedBy</span>
    </div>
    <div class="form-group">
        <label>Created date</label>
        <span class="form-control" readonly>@Model.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")</span>
    </div>
    <div class="form-group">
        <label>Updated by</label>
        <span class="form-control" readonly>@Model.UpdatedBy</span>
    </div>
    <div class="form-group">
        <label>Updated date</label>
        <span class="form-control" readonly>@Model.UpdatedDate.ToString("dd/MM/yyyy hh:mm:ss")</span>
    </div>
    <div class="form-group">
        <label>Parent</label>
        <span class="form-control" readonly>@Model.ParentCategoryName</span>
    </div>
</div>