@model UserFilterModel

<div class="search-panel m-3 collapse card" id="searchPanel">
    <div class="card-header">
        <i class="fa fa-search mr-2"></i>Search
    </div>
    <div class="card-body">
        <form method="get" asp-action="" class="filter-form" data-target=".data-table" id="searchForm">
            <div class="row">
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label" for="Search">Keyword</label>
                <div class="col-12 col-sm-9 col-md-8 col-lg-3">
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-sm" asp-for="Search">
                    </div>
                </div>
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label ml-lg-3 ml-0" for="CountryId">Country</label>
                <div class="col-12 col-sm-9 col-md-8 col-lg-3">
                    <div class="mb-3">
                        <select class="form-control select2-remote-ajax" data-url="@Url.Action("Search", "Country")" asp-for="CountryId"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label" for="Address">Address</label>
                <div class="col-12 col-sm-9 col-md-8 col-lg-3">
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-sm" asp-for="Address">
                    </div>
                </div>
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label ml-lg-3 ml-0" for="PhoneNumber">Phone Number</label>
                <div class="col-12 col-sm-9 col-md-8 col-lg-3">
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-sm" asp-for="PhoneNumber">
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label" for="CreatedById">Created By</label>
                <div class="col-12 col-sm-9 col-md-8 col-lg-3">
                    <div class="mb-3">
                        <select class="form-control select2-remote-ajax" data-url="@Url.Action("Search", "User")" asp-for="CreatedById"></select>
                    </div>
                </div>
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label ml-lg-3 ml-0" for="UpdatedById">Updated By</label>
                <div class="col-12 col-sm-9 col-md-8 col-lg-3">
                    <div class="mb-3">
                        <select class="form-control select2-remote-ajax" data-url="@Url.Action("Search", "User")" asp-for="UpdatedById"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Registered Date</label>
                <div class="col-5 col-sm-9 col-md-4 col-lg-3">
                    <div class="mb-3">
                        <div class="input-group datetimepicker" id="createdDateFromPicker" data-target-input="nearest">
                            <input type="text" class="form-control form-control-sm datetimepicker-input" autocomplete="off"
                                   data-target="#createdDateFromPicker" data-toggle="datetimepicker" asp-for="CreatedDateFrom">
                            <div class="input-group-append" data-target="#createdDateFromPicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-3 col-md-auto">
                    <label class="col-form-label">
                        -
                    </label>
                </div>
                <div class="col-5 col-sm-9 col-md-4 col-lg-3">
                    <div class="mb-3">
                        <div class="input-group datetimepicker" id="createdDateToPicker" data-target-input="nearest">
                            <input type="text" class="form-control form-control-sm datetimepicker-input" autocomplete="off"
                                   data-target="#createdDateToPicker" data-toggle="datetimepicker" asp-for="CreatedDateTo">
                            <div class="input-group-append" data-target="#createdDateToPicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Birthdate</label>
                <div class="col-5 col-sm-9 col-md-4 col-lg-3">
                    <div class="mb-3">
                        <div class="input-group datetimepicker" id="birthDateFromPicker" data-target-input="nearest">
                            <input type="text" class="form-control form-control-sm datetimepicker-input" autocomplete="off"
                                   data-target="#birthDateFromPicker" data-toggle="datetimepicker" asp-for="BirthDateFrom">
                            <div class="input-group-append" data-target="#birthDateFromPicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-sm-3 col-md-auto">
                    <label class="col-form-label">
                        -
                    </label>
                </div>
                <div class="col-5 col-sm-9 col-md-4 col-lg-3">
                    <div class="mb-3">
                        <div class="input-group datetimepicker" id="birthDateToPicker" data-target-input="nearest">
                            <input type="text" class="form-control form-control-sm datetimepicker-input" autocomplete="off"
                                   data-target="#birthDateToPicker" data-toggle="datetimepicker" asp-for="BirthDateTo">
                            <div class="input-group-append" data-target="#birthDateToPicker" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label" for="StatusId">Status</label>
                <div class="col-12 col-sm-9 col-md-9 col-lg-3">
                    <div class="mb-3">
                        <select class="form-control select2-remote-ajax" data-url="@Url.Action("Search", "UserStatus")" asp-for="StatusId"></select>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                    <div class="mb-3 form-check ml-lg-3 ml-0">
                        <input class="form-check-input" checkbox-group="EmailConfirmed" type="checkbox"
                               id="IsEmail_UnConfirmed" name="IsEmailConfirmed" value="true"
                               @(Model.IsEmailConfirmed == true ? "checked" : "")>
                        <label class="form-check-label" for="IsEmail_UnConfirmed">
                            Confirmed
                        </label>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-2">
                    <div class="mb-3 form-check ml-lg-3 ml-0">
                        <input class="form-check-input" checkbox-group="EmailConfirmed" type="checkbox"
                               id="IsEmail_Confirmed" name="IsEmailConfirmed" value="false"
                               @(Model.IsEmailConfirmed == false ? "checked" : "")>
                        <label class="form-check-label" for="IsEmail_Confirmed">
                            Unconfirmed
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label" for="GenderId">Gender</label>
                <div class="col-12 col-sm-9 col-md-8 col-lg-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" checkbox-group="Gender" type="checkbox"
                               name="GenderId" id="GenderId_Male" value="1"
                               @(Model.GenderId == (int)GenderTypes.Male ? "checked" : "")>
                        <label class="form-check-label" for="GenderId_Male">
                            Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" checkbox-group="Gender" type="checkbox"
                               name="GenderId" id="GenderId_Female" value="2"
                               @(Model.GenderId == (int)GenderTypes.Female ? "checked" : "")>
                        <label class="form-check-label" for="GenderId_Female">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-search mr-2"></i>Search
                </button>
            </div>
        </form>
    </div>
</div>
