@using Coco.Management.Common.Const;
@{
    var routeData = ViewContext.RouteData;
    var controllerName = routeData.Values["controller"].ToString();
    var actionName = routeData.Values["action"].ToString();
    var homeDomains = new[]
    {
        RequestDomains.HOME
    };

    var articleDomains = new[]
    {
        RequestDomains.ARTICLE,
        RequestDomains.ARTICLE_CATEGORY
    };

    var farmDomains = new[]
    {
        RequestDomains.FARM,
        RequestDomains.FARM_TYPE
    };

    var farmGroupDomains = new[]
    {
        RequestDomains.FARM_GROUP,
        RequestDomains.FARM_GROUP_TYPE
    };

    var productDomains = new[]
    {
        RequestDomains.PRODUCT,
        RequestDomains.PRODUCT_CATEGORY
    };

    var isHomeDomain = homeDomains.Contains(controllerName);
    var isArticleDomain = articleDomains.Contains(controllerName);
    var isFarmDomain = farmDomains.Contains(controllerName);
    var isFarmGroupDomain = farmGroupDomains.Contains(controllerName);
    var isProductDomain = productDomains.Contains(controllerName);
    var isArticle = controllerName.Equals("Article");
    var isArticleCategory = controllerName.Equals("ArticleCategory");
    var isFarm = controllerName.Equals("Farm");
    var isFarmType = controllerName.Equals("FarmType");
    var isFarmGroup = controllerName.Equals("FarmGroup");
    var isFarmGroupType = controllerName.Equals("FarmGroupType");
    var isProduct = controllerName.Equals("Product");
    var isProductCategory = controllerName.Equals("ProductCategory");
}
<div class="nav-tool">
    <div class="accordion" id="navAccordion">
        <div class="nav-tool-item">
            <a asp-controller="Home"
               asp-action="Index"
               class="text-dark @(isHomeDomain ? "active" : "collapsed")">
                <i class="fa fa-home"></i> Home
            </a>
        </div>
        <div class="nav-tool-item">
            <a asp-controller="Article"
               asp-action="Index"
               class="text-dark @(isArticleDomain ? "active" : "collapsed")"
               data-toggle="collapse"
               data-target="#collapseArticle"
               aria-expanded="true"
               aria-controls="collapseArticle">
                <i class="fa fa-book"></i> Article Management
            </a>

            <div id="collapseArticle"
                 class="collapse @(isArticleDomain ? "show" : "")"
                 aria-labelledby="headingArticle"
                 data-parent="#navAccordion">
                <div class="list-group">
                    <a asp-controller="Article"
                       asp-action="Index" class="list-group-item text-dark @(isArticle?"active":"")">
                        <i class="fa fa-angle-right"></i> Articles
                    </a>
                    <a asp-controller="ArticleCategory"
                       asp-action="Index" class="list-group-item text-dark @(isArticleCategory?"active":"")">
                        <i class="fa fa-angle-right"></i> Article Categories
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-tool-item">
            <a asp-controller="Farm"
               asp-action="Index"
               class="text-dark @(isFarmDomain ? "active" : "collapsed")"
               data-toggle="collapse"
               data-target="#collapseFarm"
               aria-expanded="true"
               aria-controls="collapseFarm">
                <i class="fa fa-warehouse"></i> Farm Management
            </a>

            <div id="collapseFarm"
                 class="collapse @(isFarmDomain ? "show" : "")"
                 aria-labelledby="headingFarm"
                 data-parent="#navAccordion">
                <div class="list-group">
                    <a asp-controller="Farm"
                       asp-action="Index" class="list-group-item text-dark @(isFarm?"active":"")">
                        <i class="fa fa-angle-right"></i> Farm
                    </a>
                    <a asp-controller="FarmType"
                       asp-action="Index" class="list-group-item text-dark @(isFarmType?"active":"")">
                        <i class="fa fa-angle-right"></i> Farm Types
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-tool-item">
            <a asp-controller="FarmGroup"
               asp-action="Index"
               class="text-dark @(isFarmGroupDomain ? "active" : "collapsed")"
               data-toggle="collapse"
               data-target="#collapseFarmGroup"
               aria-expanded="true"
               aria-controls="collapseFarmGroup">
                <i class="fa fa-flag"></i> Farm Group Management
            </a>

            <div id="collapseFarmGroup"
                 class="collapse @(isFarmGroupDomain ? "show" : "")"
                 aria-labelledby="headingFarmGroup"
                 data-parent="#navAccordion">
                <div class="list-group">
                    <a asp-controller="FarmGroup"
                       asp-action="Index" class="list-group-item text-dark @(isFarmGroup?"active":"")">
                        <i class="fa fa-angle-right"></i> Farm Group
                    </a>
                    <a asp-controller="FarmGroupType"
                       asp-action="Index" class="list-group-item text-dark @(isFarmGroupType?"active":"")">
                        <i class="fa fa-angle-right"></i> Farm Group Types
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-tool-item">
            <a asp-controller="Product"
               asp-action="Index"
               class="text-dark  @(isProductDomain ? "active" : "collapsed")"
               data-toggle="collapse"
               data-target="#collapseProduct"
               aria-expanded="true"
               aria-controls="collapseProduct">
                <i class="fa fa-apple-alt"></i> Product Management
            </a>

            <div id="collapseProduct"
                 class="collapse @(isProductDomain ? "show" : "")"
                 aria-labelledby="headingProduct"
                 data-parent="#navAccordion">
                <div class="list-group">
                    <a asp-controller="Product"
                       asp-action="Index" class="list-group-item text-dark @(isProduct?"active":"")">
                        <i class="fa fa-angle-right"></i> Products
                    </a>
                    <a asp-controller="ProductCategory"
                       asp-action="Index" class="list-group-item text-dark @(isProductCategory?"active":"")">
                        <i class="fa fa-angle-right"></i> Products Categories
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>