@using Camino.Core.Utils
@model ProductPictureModel
<tr>
    <td>
        <a asp-action="Detail" asp-controller="Product" asp-route-id="@Model.ProductId" class="common-tooltip" data-toggle="tooltip">
            @Model.ProductName
        </a>
        <p><b>Type: </b> @EnumUtil.GetDescription(Model.ProductPictureType)</p>
    </td>
    <td>
        @if (Model.PictureId > 0)
        {
            <img width="200" src="@Url.Action("Get", "Picture", new { id = Model.PictureId })" alt="..." class="img-thumbnail">
        }
    </td>
    <td>
        <div>@Model.PictureName</div>
        <p><b>Content Type:</b> @Model.ContentType</p>
    </td>
    <td>
        <div>@Model.PictureCreatedDate.ToString("dd/MM/yyyy hh:mm:ss")</div>
        <p class="text-muted">by: @Model.PictureCreatedBy</p>
    </td>
</tr>