<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="~/img/logo.png" />
    <title>@ViewData["Title"] - Camino Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-3 col-md-2 px-0 collapse show" id="mainNavigation">
                @await Component.InvokeAsync("MainNavigation")
            </div>
            <div class="col px-0 main-col">
                @await Component.InvokeAsync("TopNavigation")

                <div class="main-body">
                    <div class="mt-3 px-3">
                        <span class="text-dark">
                            @RenderSection("BreadCrumb", required: false)
                        </span>
                    </div>

                    <div class="px-3">
                        <div class="card mt-3 mb-3 px-0 box-shadow">
                            @RenderBody()
                        </div>
                    </div>
                </div>

                @await Component.InvokeAsync("Footer")
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
