@model FarmTypeModel

<tr>
    <th>@Model.Id</th>
    <td>
        <a asp-action="Detail" asp-controller="FarmType" asp-route-id="@Model.Id" class="common-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.Description">
            @Model.Name
        </a>
    </td>
    <td>
        <div>@Model.CreatedDate.ToDateHourMinusFormat()</div>
        <p class="text-muted">by: @Model.CreatedBy</p>
    </td>
    <td>
        <div>@Model.UpdatedDate.ToDateHourMinusFormat()</div>
        <p class="text-muted">by: @Model.UpdatedBy</p>
    </td>
    <td>
        @if (Model.CanUpdate)
        {
            <a asp-action="Update" asp-controller="FarmType" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
                <i class="fa fa-edit"></i>
            </a>
        }
        <a asp-action="Detail" asp-controller="FarmType" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-dark">
            <i class="fa fa-eye"></i>
        </a>
    </td>
</tr>