@model AuthorizationPolicyRolesViewModel
@{
    ViewData["Title"] = "Authorization policy roles management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header bg-dark text-light">
    @if (Model.CanCreate)
    {
        <a asp-action="Index" asp-controller="AuthorizationPolicy" class="btn btn-sm btn-secondary">
            <i class="fa fa-arrow-left"></i>
        </a>
    }

    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#grantRoleModal">
        <i class="fa fa-plus"></i>
    </button>
    @ViewData["Title"]
</div>
<div class="card">
    <div class="card-header">
        <strong>@Model.Name</strong>
    </div>
    <div class="alert alert-light mb-0" role="alert">
        <div>See the user role @Model.Description</div>
    </div>
    <ul class="list-group list-group-flush">
        @if (Model != null && Model.AuthorizationPolicyRoles.Any())
        {
            foreach (var role in Model.AuthorizationPolicyRoles)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col align-self-start">
                            <span>@role.Name (@role.Description)</span>
                        </div>
                        <div class="col align-self-end text-right">
                            <form asp-action="Ungrant" asp-controller="RoleAuthorizationPolicy" method="post">
                                <input type="hidden" name="AuthorizationPolicyId" value="@Model.Id" />
                                <input type="hidden" name="RoleId" value="@role.Id" />
                                @if (Model.CanDelete)
                                {
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>
                                }
                            </form>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (Model.CanCreate)
{
    <partial name="_GrantRoleAuthorizationPolicy" />
}
