@using Camino.Management.Common.Const;
@{
    var routeData = ViewContext.RouteData;
    var controllerName = routeData.Values["controller"].ToString();
    var actionName = routeData.Values["action"].ToString();
    var homeDomains = new[]
    {
        RequestDomains.HOME
    };

    var articleDomains = new[]
    {
        RequestDomains.ARTICLE,
        RequestDomains.ARTICLE_CATEGORY
    };

    var farmDomains = new[]
    {
        RequestDomains.FARM,
        RequestDomains.FARM_TYPE
    };

    var farmGroupDomains = new[]
    {
        RequestDomains.FARM_GROUP,
        RequestDomains.FARM_GROUP_TYPE
    };

    var productDomains = new[]
    {
        RequestDomains.PRODUCT,
        RequestDomains.PRODUCT_CATEGORY
    };

    var userDomains = new[]
    {
        RequestDomains.USER
    };

    var roleAndPermissionDomains = new[]
    {
        RequestDomains.ROLE,
        RequestDomains.PERMISSION,
        RequestDomains.AUTHORIZATION_POLICY,
        RequestDomains.USER_AUTHORIZATION_POLICY,
        RequestDomains.ROLE_AUTHORIZATION_POLICY
    };

    var isHomeDomain = homeDomains.Contains(controllerName);
    var isArticleDomain = articleDomains.Contains(controllerName);
    var isFarmDomain = farmDomains.Contains(controllerName);
    var isFarmGroupDomain = farmGroupDomains.Contains(controllerName);
    var isProductDomain = productDomains.Contains(controllerName);
    var isArticle = controllerName.Equals(RequestDomains.ARTICLE);
    var isArticleCategory = controllerName.Equals(RequestDomains.ARTICLE_CATEGORY);
    var isFarm = controllerName.Equals(RequestDomains.FARM);
    var isFarmType = controllerName.Equals(RequestDomains.FARM_TYPE);
    var isFarmGroup = controllerName.Equals(RequestDomains.FARM_GROUP);
    var isFarmGroupType = controllerName.Equals(RequestDomains.FARM_GROUP_TYPE);
    var isProduct = controllerName.Equals(RequestDomains.PRODUCT);
    var isProductCategory = controllerName.Equals(RequestDomains.PRODUCT_CATEGORY);

    var isUserDomain = userDomains.Contains(controllerName);
    var isRolePermissionDomain = roleAndPermissionDomains.Contains(controllerName);
    var isUser = controllerName.Equals(RequestDomains.USER);
    var isRole = controllerName.Equals(RequestDomains.ROLE);
    var isPermission = controllerName.Equals(RequestDomains.PERMISSION);
    var isAuthorizationPolicy = controllerName.Equals(RequestDomains.AUTHORIZATION_POLICY);

    var isSecurityTabOpen = isUserDomain || isRolePermissionDomain;
}
<ul class="nav nav-tabs" role="tablist" id="navTab">
    <li class="nav-item">
        <a class="nav-link @(!isSecurityTabOpen?"active":"")" id="general-tab" data-toggle="tab" href="#generalTab" role="tab" aria-controls="general" aria-selected="true">General</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(isSecurityTabOpen?"active":"")" id="security-tab" data-toggle="tab" href="#securityTab" role="tab" aria-controls="security" aria-selected="true">Security</a>
    </li>
</ul>
<div class="tab-content" id="navTabContent">
    <div class="tab-pane fade @(!isSecurityTabOpen?"show active":"")" id="generalTab" role="tabpanel" aria-labelledby="general-tab">
        <div class="nav-tool">
            <div class="accordion" id="navAccordion">
                <div class="nav-tool-item">
                    <a asp-controller="Home"
                       asp-action="Index"
                       class="text-dark @(isHomeDomain ? "active" : "collapsed")">
                        <i class="fa fa-home"></i> Home
                    </a>
                </div>
                <div class="nav-tool-item">
                    <a asp-controller="Article"
                       asp-action="Index"
                       class="text-dark @(isArticleDomain ? "active" : "collapsed")"
                       data-toggle="collapse"
                       data-target="#collapseArticle"
                       aria-expanded="true"
                       aria-controls="collapseArticle">
                        <i class="fa fa-book"></i> Article Management
                    </a>

                    <div id="collapseArticle"
                         class="collapse @(isArticleDomain ? "show" : "")"
                         aria-labelledby="headingArticle"
                         data-parent="#navAccordion">
                        <div class="list-group">
                            <a asp-controller="Article"
                               asp-action="Index" class="list-group-item text-dark @(isArticle?"active":"")">
                                <i class="fa fa-angle-right"></i> Articles
                            </a>
                            <a asp-controller="ArticleCategory"
                               asp-action="Index" class="list-group-item text-dark @(isArticleCategory?"active":"")">
                                <i class="fa fa-angle-right"></i> Article Categories
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-tool-item">
                    <a asp-controller="Farm"
                       asp-action="Index"
                       class="text-dark @(isFarmDomain ? "active" : "collapsed")"
                       data-toggle="collapse"
                       data-target="#collapseFarm"
                       aria-expanded="true"
                       aria-controls="collapseFarm">
                        <i class="fa fa-warehouse"></i> Farm Management
                    </a>

                    <div id="collapseFarm"
                         class="collapse @(isFarmDomain ? "show" : "")"
                         aria-labelledby="headingFarm"
                         data-parent="#navAccordion">
                        <div class="list-group">
                            <a asp-controller="Farm"
                               asp-action="Index" class="list-group-item text-dark @(isFarm?"active":"")">
                                <i class="fa fa-angle-right"></i> Farm
                            </a>
                            <a asp-controller="FarmType"
                               asp-action="Index" class="list-group-item text-dark @(isFarmType?"active":"")">
                                <i class="fa fa-angle-right"></i> Farm Types
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-tool-item">
                    <a asp-controller="FarmGroup"
                       asp-action="Index"
                       class="text-dark @(isFarmGroupDomain ? "active" : "collapsed")"
                       data-toggle="collapse"
                       data-target="#collapseFarmGroup"
                       aria-expanded="true"
                       aria-controls="collapseFarmGroup">
                        <i class="fa fa-flag"></i> Farm Group Management
                    </a>

                    <div id="collapseFarmGroup"
                         class="collapse @(isFarmGroupDomain ? "show" : "")"
                         aria-labelledby="headingFarmGroup"
                         data-parent="#navAccordion">
                        <div class="list-group">
                            <a asp-controller="FarmGroup"
                               asp-action="Index" class="list-group-item text-dark @(isFarmGroup?"active":"")">
                                <i class="fa fa-angle-right"></i> Farm Group
                            </a>
                            <a asp-controller="FarmGroupType"
                               asp-action="Index" class="list-group-item text-dark @(isFarmGroupType?"active":"")">
                                <i class="fa fa-angle-right"></i> Farm Group Types
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-tool-item">
                    <a asp-controller="Product"
                       asp-action="Index"
                       class="text-dark  @(isProductDomain ? "active" : "collapsed")"
                       data-toggle="collapse"
                       data-target="#collapseProduct"
                       aria-expanded="true"
                       aria-controls="collapseProduct">
                        <i class="fa fa-apple-alt"></i> Product Management
                    </a>

                    <div id="collapseProduct"
                         class="collapse @(isProductDomain ? "show" : "")"
                         aria-labelledby="headingProduct"
                         data-parent="#navAccordion">
                        <div class="list-group">
                            <a asp-controller="Product"
                               asp-action="Index" class="list-group-item text-dark @(isProduct?"active":"")">
                                <i class="fa fa-angle-right"></i> Products
                            </a>
                            <a asp-controller="ProductCategory"
                               asp-action="Index" class="list-group-item text-dark @(isProductCategory?"active":"")">
                                <i class="fa fa-angle-right"></i> Products Categories
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade @(isSecurityTabOpen?"show active":"")" id="securityTab" role="tabpanel" aria-labelledby="security-tab">
        <div class="nav-tool">
            <div class="accordion" id="navSecurityAccordion">
                <div class="nav-tool-item">
                    <a asp-controller="User"
                       asp-action="Index"
                       class="text-dark @(isUserDomain ? "active" : "collapsed")"
                       data-toggle="collapse"
                       data-target="#collapseUser"
                       aria-expanded="true"
                       aria-controls="collapseUser">
                        <i class="fa fa-user"></i> User Management
                    </a>

                    <div id="collapseUser"
                         class="collapse @(isUserDomain ? "show" : "")"
                         aria-labelledby="headingUser"
                         data-parent="#navSecurityAccordion">
                        <div class="list-group">
                            <a asp-controller="User"
                               asp-action="Index" class="list-group-item text-dark @(isUser?"active":"")">
                                <i class="fa fa-angle-right"></i> Users
                            </a>
                        </div>
                    </div>
                </div>
                <div class="nav-tool-item">
                    <a asp-controller="Role"
                       asp-action="Index"
                       class="text-dark @(isRolePermissionDomain ? "active" : "collapsed")"
                       data-toggle="collapse"
                       data-target="#collapseRole"
                       aria-expanded="true"
                       aria-controls="collapseRole">
                        <i class="fa fa-user"></i> Roles & Permissions
                    </a>

                    <div id="collapseRole"
                         class="collapse @(isRolePermissionDomain ? "show" : "")"
                         aria-labelledby="headingRole"
                         data-parent="#navSecurityAccordion">
                        <div class="list-group">
                            <a asp-controller="Role"
                               asp-action="Index" class="list-group-item text-dark @(isRole?"active":"")">
                                <i class="fa fa-angle-right"></i> Roles
                            </a>
                            <a asp-controller="Permission"
                               asp-action="Index" class="list-group-item text-dark @(isPermission?"active":"")">
                                <i class="fa fa-angle-right"></i> Permissions
                            </a>
                            <a asp-controller="AuthorizationPolicy"
                               asp-action="Index" class="list-group-item text-dark @(isAuthorizationPolicy?"active":"")">
                                <i class="fa fa-angle-right"></i> Authorization Policies
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
